.masonry {
  column-count: 4;
  column-gap: 2rem;
}
@media screen and (max-width: 992px) {
  .masonry {
    column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}
@media screen and (max-width: 576px) {
  .masonry {
    column-count: 1;
  }
}
